#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  padding: 0px 2em;
  position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
  z-index: 10;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  line-height: 80px;
  margin-left: 10px;
}

#nav-bar .right {
  float: right;
  height: 100%;
  line-height: 100%;
}

#compose {
  background-color: white;
  border: solid 1px #244751;
  border-radius: 5px;
  color: #00a087;
  opacity: .75;
  padding: 0;
  outline: inherit;
  height: 3.5em;
  width: 7em;
  margin: .75em .25em;
}

#compose:hover {
  color: #244751;
  opacity: 1;
}

