#nav-bar {
  background-color: #00a087;
  color: white;
  height: 80px;
  padding: 0px 2em;
  position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
  z-index: 10;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  width: 80px;
}

#nav-bar .heading {
  color: #23292f;
  float: left;
  font-size: 3em;
  line-height: 80px;
  margin: 0 .5em;
}

#nav-bar .right {
  float: right;
  height: 100%;
  line-height: 100%;
}

#compose {
  background-color: white;
  border: solid 3px #23292f;
  border-radius: 1.3em;
  font-weight: bold;
  opacity: .75;
  padding: 0;
  outline: inherit;
  height: 3.5em;
  width: 7em;
  margin: .75em .25em;
}

#compose:hover {
  opacity: 1;
}

