/*borders use px units, while the rest of the code uses em units*/

.tweet {
  border-radius: 1.3em;
  border: solid 3px lightgray;
  margin-top: 10px;
  word-break: break-word;
}

.tweet header {
  background-color: #eee;
  border-top-left-radius: 1.3em;
  border-top-right-radius: 1.3em;
  /*color: #4f6b73;*/
  line-height: 100%;
  padding: 10px;
  opacity: 0.75;
  /*width: 100%;*/
}

.tweet header::after {
  content: "";
  display: table;
  clear: both;
}

.tweet h3 {
  float: left;
  margin: 5px 0 0 10px;
}

.tweet .avatar {
  background-color: darkgrey;
  border-radius: 1.3em;
  display: inline;
  float: left;
  height: 2.5em;
  /*opacity: 0.75;*/
  width: 2.5em;
}

.tweet span {
  font-size: smaller;
  float: right;
}

.tweet p {
  margin: 1.5em .75em;
}

.tweet footer {
  border-top: solid .1em lightgray;
  justify-content: space-between;
  font-size: smaller;
  padding: .5em;
  width: 100%;
}

.tweet footer p {
  display: inline;
  margin: 0 1em;
}

.tweet footer .icons {
  opacity: 0;
  float: right;
}

.tweet:hover {
  border-color: darkgray;
}

.tweet:hover header, .tweet:hover img {
  color: #23292f;
  opacity: 1;
}

.tweet:hover .icons {
  color: #00a087;
  opacity: 1;
  float: right;
}

